In [35]:
import pandas as pd
data=pd.read_csv("data.csv")
data

      Lucy    23   F      diabetes
0   Darwin  60.0   M  hypertension
1     Dave   NaN   M      epilepsy
2     Luke   NaN   M      epilepsy
3  Tiffany  12.0   F        asthma

In [36]:
import pandas as pd
data=pd.read_csv("data.csv", header=None ,names=["Name", "Age", "Gender", "Condition"], index_col=False, na_values=",NaN, null", verbose=True)
data=pd.DataFrame(data)
newdata=data.dropna(subset=['Age'])
print("new data: \n", newdata)

Tokenization took: 0.01 ms
Type conversion took: 0.86 ms
Parser memory cleanup took: 0.01 ms
new data:
       Name   Age Gender     Condition
0     Lucy  23.0      F      diabetes
1   Darwin  60.0      M  hypertension
4  Tiffany  12.0      F        asthma